.nav {
    float: right;
    border-style: solid;
}


img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
}

.card {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.card-body {
    text-align: left
}

.card-text,
.card-title {
    text-align: justify;
}

#myname {
    float: left;
    text-align: left;
}

