.nav {
    float: right;
    border-style: solid;
}


img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
}

.card {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: 100vh;
}

.card-body {
    text-align: left
}

.card-text,
.card-title {
    text-align: justify;
}

#myname {
    float: left;
    text-align: left;
}

.gamelbl {
    z-index: 100;
}

.gamecard {
    position: relative;
    margin: 10px 5px 10px 5px;
}


.gamecard p {
    position: absolute;
    background-color: green;
    bottom: 0px;
    width: 93%;
    text-align: center;
    color: white;
}
